<% include partials/header.ejs %>
<!-- HEADER -->
<div class="top"></div>
<div class="project-listing-body">
	
	<div class="ui items custom-segment">
		<!-- BREAD CRUMB NAVIGATION -->
		<div class="ui large breadcrumb add-padding">
		  		<a href="/" class="section">Home</a>
		  		<i class="fa fa-angle-right" aria-hidden="true"></i>
		  		<a href="/portfolio" class="section">Project Listing</a>
		  		<i class="fa fa-angle-right" aria-hidden="true"></i>
		  		<a class="active section"><%=name%></a>
		</div>

	  <!-- MAIN INFO TABLE -->
	  <div class="item">
	    <div class="image">
	      <img src="/imgs/<%-id%>.png">
	    </div>
	    <div class="content">
	      <a class="header header-text"><%= name %></a><br><br>
	      <div class="meta">
	      <iframe src="https://www.example.com/" name = "myIframe" id="frame"></iframe><br><br>
	      <strong>The files in this project are:</strong><br><br>
	      	<%infoList.forEach(function(info){%>
	      		<%if(info['title'] === name){%>	
	      			<%info['files'].forEach(function(file){%>
						<a href="https://subversion.ews.illinois.edu/svn/fa16-cs242/javeria2/<%- file['title']%>" target="myIframe"><strong class="file-name"><%= file['title']%></strong><br><br></a>
						<strong>size: </strong><%=file['size']%><br>
						<strong>type: </strong><%=file['type']%><br>
						<strong>path in svn: </strong>https://subversion.ews.illinois.edu/svn/fa16-cs242/javeria2/<%=file['title']%><br><br>
						<strong>version details: </strong><br>
						<%file['versions'].forEach(function(version){%>
							<strong>revision: </strong><%= version['revision']%><br>
							<strong>author: </strong><%= version['author']%><br>
							<strong>commit message: </strong><%= version['msg']%><br>
							<strong>Date: </strong><%= version['date']%><br><br><br>
						<%});%>
	      			<%});%>
	      		<%}%>
	      	<%});%>
	        <span>Comments:</span>
	      </div>
	      <div class="description">
	        <p><a href="/portfolio/<%-name%>/<%-id%>/new/null" class="positive ui button">Add new comment</a></p>
	      </div>
	    <!-- =======DISPLAY THE COMMENTS HERE======= -->

		<div class="ui comments">
			<%var count = 0, initialCount = numberOfComments, toggle=0;%>
			   <%for(var i =0; i<comments.length; i++){%>
	   					<%if(comments[i].comment_parent == id){%>
	   						<%toggle += 1;%>
	   						<%if(toggle > 1){%>
	   							<%while(this.count != 0){%>
	   								<%this.count -= 1;%>
	   								</div>
	   							<%}%>
	   							</div>
	   						<%}%>
	   						<%this.count = 0;%>
	   						<div class="comment inner-comments-border">
	   							<div class="content">
	   								<div class="metadata"><span class="date"><%= comments[i].ts.toTimeString().slice(0, -15) %></span></div>
	   								<div class="text"><%=comments[i].comment_body%></div>
	   								<div class="actions"><a href="/portfolio/<%-name%>/<%-id%>/new/<%-comments[i].comment_id%>" class="reply">Reply</a></div>
	   							</div>

	   					<%}%>
	   					<%for(var j =i+1; j<comments.length; j++){%>
								<%if(comments[j].comment_parent == comments[i].comment_id){%>
									<% this.count += 2; %>
									<div class="comments">
										<div class="comment inner-comments-border">
											<div class="content">
												<div class="metadata"><%= comments[j].ts.toTimeString().slice(0, -15) %></span></div>
												<div class="text"><%=comments[j].comment_body%></div>
	   								 			<div class="actions"><a href="/portfolio/<%-name%>/<%-id%>/new/<%-comments[j].comment_id%>" class="reply">Reply</a></div>
											</div>
								<%}%>
	   					<%}%>
				<%}%>
	   			<%while(this.count != 0){%>
						<%this.count -= 1;%>
						</div>
		   		<%}%> 
		   		</div>
		</div>
	    <!-- ============== -->
	    </div>
	  </div>
	</div>
</div>

<!-- FOOTER -->
<div class="bottom"></div>
<% include partials/footer.ejs %>
